& .contact_align {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;

    & .contact_icon {
        display: flex;
         background: linear-gradient(
    135deg,
    #120426,
    #1a0633
  );
        width: 18rem;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 15px;
       box-shadow: 0 0 30px rgba(169, 85, 247, 0.199);
        transition: 0.5s ease;
        gap: 7px;
        transition: 0.5s ease;

        & h2 {
            font-size: 1.3rem;
            color: white;
        }

        & img {
            width: 4rem;
        }
    }
}

.contact_icon:hover {
    transform: scale(1.1);
    background: radial-gradient(circle at top right,
            rgba(168, 85, 247, 0.25),
            transparent 60%);
    box-shadow: 0 0 30px rgba(168, 85, 247, 0.3);
}

a {
    text-decoration: none;
}