@font-face {
    font-family: Roboto_Condensed;
    src: url(../assets/Roboto_Condensed-Black.ttf);
}

:root {
    --bg-dark: #0b0217;
    --bg-secondary: #120426;
    --purple-dark: #1a0633;
    --purple-primary: #6c2bd9;
    --purple-secondary: #8b5cf6;
    --purple-glow: #a855f7;
    --text-light: #ffffff;
    --text-soft: #cbd5e1;
    --font-padrao: Roboto_Condensed;
}

.navbar {
    width: 13rem;
    position: fixed;
    z-index: 1000;

    & img {
        width: 3rem;
    }

    & img:hover {
        cursor: pointer;

    }

    .MenuOpen {
        padding: 10px;
        width: 4rem;
    }



}

.pokehome {
    width: 8rem;
    transform: scaleX(-1)
}

.isVisibleOnMoba {
    display: block;
}

.isVisibleOnPc {
    display: none;

}

.navbarOnPc {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100vw;
    justify-content: space-between;
    padding-top: 1rem;

    & .pOne {
        display: flex;
        align-items: center;
        padding-left: 2rem;

    }

    & .pTwo {
        display: flex;
        gap: 3rem;
        padding-right: 4rem;

        & a {
            padding: 10px;
        }

        & a:hover {
            border-bottom: 1px solid var(--purple-glow);
        }
    }


    & a {
        color: var(--text-light);
        font-size: 1.5rem;
        transition: 0.5s ease;
    }

    & a:hover {
        transform: scale(1.1);
    }

}

.btn_cv {
    background: linear-gradient(90deg,
            #6c2bd9,
            #a855f7);

    border-radius: 10px;
}

.btn_cv:hover {
    box-shadow: 5px 5px 20px var(--purple-glow);
}

.links {
    background: rgba(10, 15, 30, 0.75);
    backdrop-filter: blur(12px);
    display: sticky;
    margin: 0;
    padding: 10px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex-direction: column;
    gap: 1.5rem;
    border: 2px solid rgba(255, 255, 255, 0.342);
    padding-bottom: 5rem;
    transition: 0.5s ease;

    & a {
        color: var(--texts);
        padding: 10px;
        font-family: var(--font-padrao);
        font-size: 1.2rem;
        text-decoration: none;
        transition: 0.5s ease;
    }

    & a:hover {
        border-bottom: 1px solid var(--secondary-texts);


    }
}

/*Home*/

.home {
    width: 100vw;
    height: 100vh;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: linear-gradient(135deg,
            #0b0217 0%,
            #120426 40%,
            #1a0633 70%,
            #2a0a4a 100%);
    color: var(--text-soft);

    & .ruan {
        display: flex;
        width: 20rem;
        border-radius: 100%;
        margin: auto;
        border: 4px solid rgba(24, 9, 109, 0.363);
        outline: 2px solid rgba(255, 255, 255, 0.534);
        transition: 0.5s ease;
    }

    & .ruan:hover {
        box-shadow: 8px 5px 50px var(--purple-glow);
    }

}


.typing_input {
    color: var(--secondary-texts);
    font-family: var(--font-padrao);
    text-align: center;
    margin-top: 8%;

    & h2 {
        color: var(--text-soft);
        font-size: 2rem;
        padding-bottom: 2rem;
        text-align: center;
    }
}

.icons_redes {
    display: flex;
    gap: 2rem;
    justify-content: center;

    & img {
        width: 2rem;
        transition: 0.5s ease;
    }

    & img:hover {
        padding-bottom: 4px;
        border-bottom: 1px solid white;
    }
}

/*About me*/
section.about_me {
    width: 100vw;
    color: white;
    background-image: radial-gradient(circle at top, gray, #020617);
    background-attachment: fixed;
    height: 100vh;

    & .about_itens {
        padding-top: 20%;


        & h2 {
            text-align: center;
            font-size: 2rem;
        }

        & p {
            margin-top: 1rem;
            text-align: center;
            font-size: 1rem;
            padding: 10px;
            font-family: Arial, Helvetica, sans-serif;
            text-indent: 1rem;
        }
    }

}

/*Section Technologic*/
.sec_tec {
    width: 100vw;
    background-image: linear-gradient(135deg,
            #0b0217 0%,
            #120426 40%,
            #1a0633 70%,
            #2a0a4a 100%);
    padding-bottom: 5rem;
    color: white;

    & .sec_items {
        padding-top: 12%;
        text-align: center;

        & h2 {
            font-size: 2.5rem;
        }
    }

    & section.tec_icons {
        display: flex;
        justify-content: center;
        padding: 5px;


        & .tec_center {
            width: 200px;
        }
    }

}

/*My projects*/
.my_projects {
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(circle at top, gray, #020617);
    background-attachment: fixed;

    & h2 {
        color: white;
        font-size: 2rem;
        text-align: center;
        padding-top: 10%;
    }
}

.Contact_me {
    text-align: center;
    width: 100vw;
    color: var(--text-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    height: 100vh;
    background-image: linear-gradient(135deg,
            #0b0217 0%,
            #120426 40%,
            #1a0633 70%,
            #2a0a4a 100%);
    padding-top: 10%;
    padding-bottom: 53rem;
}


& .invite_me {
    background-image: radial-gradient(circle at top, #7516c4, #020617);
    border: 2px solid rgba(245, 245, 220, 0.13);
    max-width: 80%;
    height: 30%;
    border-radius: 15px;
    padding-bottom: 15rem;
}

@media screen and (min-width: 768px) {

    .home {
        display: flex;
        flex-direction: row-reverse;
        gap: 20rem;
        align-items: center;
        justify-content: center;
    }

    .typing_input {
        margin-top: 10%;
    }

    .isVisibleOnMoba {
        display: none;
    }

    .isVisibleOnPc {
        display: block;
    }

    section.about_me {

        & .about_itens {

            & h2 {
                font-size: 2.5rem;
            }

            & p {
                font-size: 2rem;
            }
        }

    }

    .isVisibleTech {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .typing_input {
        margin-top: 5%;
    }

    .home {
        height: 100vh;

        & .ruan {
            width: 25rem;
        }
    }

    .sec_tec {
        height: 100vh;
    }

    .Contact_me {
         padding-bottom: 50rem;
    }
}