@font-face {
    font-family: Roboto_Condensed;
    src: url(../assets/Roboto_Condensed-Black.ttf);
}

:root {
    --bg: radial-gradient(circle at top, #0b132b, #020617);
    --bg-2: radial-gradient(circle at top, #0b132b, #020617);
    --cards: #111827;
    --texts: #E5E7EB;
    --secondary-texts: #E5E7EB;
    --emphasis: #111827;
    --hover: #EF4444;
    --glow: rgba(220, 38, 38, 0.4);
    --font-padrao: Roboto_Condensed;
}


.navbar {
    width: 13rem;
    position: fixed;
    z-index: 1000;

    & img {
        width: 3rem;
    }

    & img:hover {
        cursor: pointer;

    }

    .MenuOpen {
        padding: 10px;
        width: 4rem;
    }

}

.links {
    background: rgba(10, 15, 30, 0.75);
    backdrop-filter: blur(12px);
    display: sticky;
    margin: 0;
    padding: 10px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex-direction: column;
    gap: 1.5rem;
    border: 2px solid rgba(255, 255, 255, 0.342);
    padding-bottom: 5rem;
    transition: 0.5s ease;

    & a {
        color: var(--texts);
        padding: 10px;
        font-family: var(--font-padrao);
        font-size: 1.2rem;
        text-decoration: none;
        transition: 0.5s ease;
    }

    & a:hover {
        border-bottom: 1px solid var(--secondary-texts);

    }
}

.home {
    height: 100vh;
    padding-top: 5rem;
    background-image: radial-gradient(circle at top, #0b132b, #020617);


    & .ruan {
        display: flex;
        width: 300px;
        border-radius: 100%;
        margin: auto;
        border: 4px solid rgba(24, 9, 109, 0.363);
        outline: 2px solid rgba(255, 255, 255, 0.534);
    }
}

.typing_input {
    color: var(--secondary-texts);
    font-family: var(--font-padrao);
    text-align: center;
    margin-top: 20%;
    margin-bottom: 1rem;
}

.icons_redes {
    display: flex;
    gap: 2rem;
    justify-content: center;

    & img {
        width: 2rem;
        transition: 0.5s ease;
    }

    & img:hover {
        padding-bottom: 4px;
        border-bottom: 1px solid white;
    }
}

.btn_cv {
    margin: 2rem;
    text-align: center;

    & a {
        font-family: var(--font-padrao);
        font-size: 1.2rem;
        border: 1px solid #ffffff;
        padding: 0.5rem;
        border-radius: 5px;
        background-color: white;
        text-decoration: none;
    }

    & a:hover {
        border: 1px solid var(--hover);
        color: rgb(14, 13, 13);
        background-color: rgba(255, 255, 255, 0.664);
    }
}

.about_me {

    color: white;
    background-image: radial-gradient(circle at top, gray, #020617);
    background-attachment: fixed;

    & .about_itens {
        height: 100vh;
        padding-top: 20%;

        & h2 {
            text-align: center;
            font-size: 2rem;
        }

        & p {
            margin: 1rem;
            font-family: Arial, Helvetica, sans-serif;
        }
    }

}

.sec_tec {
    background-image: radial-gradient(circle at top, #0f1938, #020617);
    height: 100vh;

    & .sec_items {

        padding-top: 30%;
        text-align: center;

        & h2 {
            font-size: 2.5rem;
        }
    }

   & section.tec_icons {
       display: flex;
       justify-content: center;
       padding: 30px;

       & .tec_center {
        width: 200px;
       }
    }

}